<div class="icons-container">
  <a href="#say-hello"><img class="icon" src='../assets/images/email.svg' alt="Email"/></a>
  <a href="https://github.com/emigraced/" target="blank"><img class="icon" src='../assets/images/github.svg' alt="Github"/></a>
  <a href="https://www.linkedin.com/in/emilymills95/" target="blank"><img class="icon" src='../assets/images/linkedin.svg' alt="LinkedIn"/></a>
  <a href="https://twitter.com/emigraced" target="blank"><img class="icon" src='../assets/images/twitter.svg' alt="Twitter"/></a>
  <a href="https://www.instagram.com/emigraced/" target="blank"><img class="icon" src='../assets/images/instagram.svg' alt="Instagram"/></a>
</div>

<div class="intro-container">
  <h1 class="intro-title">Hey, I'm Emily.</h1>
  <h3 class="intro-sub-title">I'm a software developer and UI/UX designer.</h3>
</div>

<img class="arrow" src="../assets/images/arrow.svg" alt="A curved arrow."/>

<div id="say-hello"></div>
<h2 class="say-hello">Say hello.</h2>

<form>
  <p class="check-inbox">I check my inbox regularly.</p>
  <input type="text" placeholder="Your name"/>
  <input type="email" placeholder="Your email"/>
  <textarea placeholder="Your message"></textarea>
  <input id="submit-form" type="submit" value="Send"/>
</form>

<footer>
  <p>© Emily Mills, 2021</p>
</footer>
<router-outlet></router-outlet>
